{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <div class="homeHeader">
        <div class="left">
            <img class="Inst logo" src="{% static 'interface/InsightSphere_logo.png' %}" alt="logo"/>
        </div>
        <div class="center">
            <p class="welcome-header">BRITANNIA INSIGHTSPHERE - CENTRAL REPORTING PLATFORM</p>
        </div>
        <div class="right">
            <img class="Brit BritanniaLogo logo" src="{% static 'interface/Britannia_logo.png' %}" alt="logo"/>
            <div class="logout-btn" onclick="logout()">Logout&nbsp;<i class="bi bi-box-arrow-right"></i></div>
        </div>
    </div>
    <div class="homeContainer">
        {% for i in depts %}
        <div class="box" id="{{i}}" onclick="view_dept(this.id)">
            <p class="links"> {{i}} </p>
        </div>
        {% endfor %}
    </div>
    

    <script>
        function view_dept(dept) {
            window.location.href = `/dashboard/${dept}`;
        }
        function logout() {
            window.location.href = "/logout";
        }
    </script>

    {% endblock %}