{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <div class="homeHeader">
        <div class="left">
            <img class="Inst logo" src="{% static 'interface/InsightSphere_logo.png' %}" alt="logo"/>
        </div>
        <div class="center">
            <p class="welcome-header">BRITANNIA INSIGHTSPHERE : {{dept}} Dashboard</p>
        </div>
        <div class="right">
            <img class="Brit BritanniaLogo logo" src="{% static 'interface/Britannia_logo.png' %}" alt="logo"/>
            <div class="logout-btn" onclick="logout()">Logout&nbsp;<i class="bi bi-box-arrow-right"></i></div>
        </div>
    </div>
    <div class="parentContainer">
        <div class="navbar">
            <div class="navbar-item">
                <div class="navbar-item-header">
                    <p class="dashboard-list" id="dashboard-list">View Dashboard&nbsp;</p>
                    <img class="list-icon" src="{% static 'interface/monitor.png' %}" alt="logo"/>
                </div>
                <ul class="item-list" id="item-list" style="list-style: none;" >
                    {% for i in depts %}
                    {% if i == dept %}
                    <li class="list-item active" id="{{i}}" onclick="view_dept(this.id)">{{i}}</li>
                    {% else %}
                    <li class="list-item" id="{{i}}" onclick="view_dept(this.id)">{{i}}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="navbar-item data" onclick="download_data()">
                <div class="navbar-item-header">
                    <p>Download Data</p>
                    <img class="list-icon" src="{% static 'interface/database.png' %}" alt="logo"/>
                </div>
            </div>
        </div>
        <div class="childContainer">
            {% for i,j,k in content %}
            <div class="box" id="{{j}}" onclick="redirect_to(this.id)">
                <p class="links"> {{i}} </p>
                <img class="tag-icon" id="{{k}}" src="" alt="icon">
            </div>
            {% endfor %}
        </div>
    </div>
    

    <script>
        function view_dept(dept) {
            window.location.href = `/dashboard/${dept}`;
        }
        function download_data(){
            window.open("https://www.britannia.co.in/", "_blank");
        }

        var className = document.getElementsByClassName('tag-icon');
        for(var index=0;index < className.length;index++){
            var image = className[index];
            var id = image.id;
            switch(id) {
                case '1':
                  // code block
                  image.src = `{% static 'interface/icon1.png' %}`;
                  break;
                case '2':
                  // code block
                  image.src = `{% static 'interface/icon2.png' %}`;
                  break;
                case '3':
                  // code block
                  image.src = `{% static 'interface/icon3.png' %}`;
                  break;
                case '4':
                  // code block
                  image.src = `{% static 'interface/icon4.png' %}`;
                  break;
              }
        } 
        function redirect_to(address){
            window.open(`${address}`, "_blank");
        }
        function logout() {
            window.location.href = "/logout";
        }
    </script>

    {% endblock %}