{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header">
    <img class="BritanniaLogo" src="{% static 'interface/Britannia_logo.png' %}" alt="Logo">
</div>
<div class="container">
    <img class="InsightSphereLogo" src="{% static 'interface/InsightSphere_logo.png' %}" alt="Logo">
    <div class="formContainer">
        <form class="loginForm" action="/" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="error-message" style="color: red;">
                {% for error in errors%}
                <p>{{error}}</p>
                {% endfor %}
            </div>
            <div class="form-input">
                <label><b>Username:</b></label>
                <input type="text" placeholder="AbcXyz" name="username" required />
            </div>
            <div class="form-input">
                <label><b>Password:</b></label>
                <input type="password" placeholder="abc&123" name="password" required />
            </div>
            <button class="submit-btn" type="submit" style="margin-top: 2vh;">LOGIN</button>
            <hr style="width:100%;text-align:left;margin-left:0">
            <a href="/signup" style="color: orange;" onMouseOut="this.style.color='orange'" onMouseOver="this.style.color='red'">Don't have an account?</a>
        </form>
    </div>
</div>

{% endblock %}